<div class="container-fluid topic-container">
  <div class="topic-window">
    <h3><%="topic" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="topic-window">
    <h3><%="topic" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="topic-window">
    <h3><%="topic" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="topic-window">
    <h3><%="topic" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="topic-window">
    <h3><%="topic" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
</div>
