<div class="container-fluid topic-container">
  <% @topics.each do |topic| %>
  <div class="topic-window">
    <h3><%= topic.title %></h3>
    <p>Created By: <%= User.where(:id => topic.user_id).pluck(:user_name).join %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <%= link_to "Explore", topic_path(topic.id) %>
    </div>
    <% if (topic.user_id == current_user.id) || (current_user.role == "admin") %>
    <div class="delete-btn">
      <%= button_to "DELETE", topic, method: :delete, class: "topic-delete" %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
