
<div class="jumbotron">
  <p class="text-center">Welcome </p>
  <div class="welcome-title"><h3>Welcome to BookMarks!</h3></div>
  <div class="welcome-description"><p>Create, Share, Read and Discover What Others Are Posting!</p></div>
</div>
<div class="container-fluid">
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
  <div class="bookmark-window">
    <h3><%="bookmark.url" %></h3>
    <p><%="bookmark.description" %></p>
    <p><%="bookmark.topic_id" %></p>
    <div class="more-btn">
      <button class="btn btn-link">Show More!</button>
    </div>
  </div>
</div>
